.new__products {
    margin-bottom: 70px;
    h2 {
        text-align: center;
        margin-bottom: 40px;
        @media screen and (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }
    .product__items {
        @media screen and (max-width: breakpoints(md)) {
            flex-direction: column;
        }
        .left__content {
            flex-basis: calc(45% - 15px);
            @media screen and (max-width: breakpoints(md)) {
                margin-bottom: 15px;
            }
            .new__arrival-hidden-img {
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }
        .right__content {
            flex-basis: calc(55% - 15px);
            .new__arrival-hidden-descr {
                margin-bottom: 50px;
                @media screen and (max-width: 1024px) {
                    margin-bottom: 30px;
                }
                .new__arrival__title {
                    margin-bottom: 20px;
                    @media screen and (max-width: 1024px) {
                        margin-bottom: 10px;
                    }
                }
                .new__arrival__descr {
                    margin-bottom: 20px;
                    p {
                        line-height: 32px;
                        @media screen and (max-width: 1024px) {
                            line-height: 20px;
                        }
                    }
                }
            }
            .image__grid {
                .new__arrival-image {
                    flex-basis: calc(33.33% - 10px);
                    cursor: pointer;
                    @media screen and (max-width: breakpoints(md)){
                        flex-basis: calc(33.33% - 3px);
                    }
                    img {
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}