.new__products {
    margin-bottom: 70px;
    @media screen and (max-width: breakpoints(lg)) {
        margin-bottom: 50px;
    }
    h2 {
        text-align: center;
        margin-bottom: 40px;
        @media screen and (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }
    .product__items {
        @media screen and (max-width: breakpoints(md)) {
            flex-direction: column;
        }
        .left__content {
            flex-basis: calc(40% - 15px);
            height: 400px;
            @media screen and (max-width: breakpoints(xl)) {
                height: 330px;
            }
            @media screen and (max-width: breakpoints(sm)) {
                height: 250px;
            }
            @media screen and (max-width: breakpoints(md)) {
                margin-bottom: 15px;
            }
            .new__arrival-hidden-img {
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .right__content {
            flex-basis: calc(60% - 15px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .new__arrival-hidden-descr {
                margin-bottom: 40px;
                @media screen and (max-width: breakpoints(md)) {
                    margin-bottom: 25px;
                }
                .new__arrival__title {
                    font-size: 25px;
                    line-height: 30px;
                    margin-bottom: 20px;
                    @media screen and (max-width: breakpoints(xl)) {
                        font-size: 22px;
                        line-height: 25px;
                        margin-bottom: 10px;
                    }
                }
                .new__arrival__descr {
                    margin-bottom: 20px;
                    p {
                        line-height: 22px;
                        @media screen and (max-width: 1024px) {
                            line-height: 18px;
                        }
                    }
                }
            }
            .image__grid {
                flex-wrap: nowrap;
                justify-content: left;
                gap: 15px;
                @media screen and (max-width: breakpoints(md)) {
                    gap: 5px;
                }
                .new__arrival-image {
                    flex-basis: calc(33.33% - 10px);
                    height: 150px;
                    cursor: pointer;
                    @media screen and (max-width: breakpoints(xl)) {
                        height: 100px;
                    }
                    @media screen and (max-width: breakpoints(md)){
                        flex-basis: calc(33.33% - 3px);
                        height: 150px;
                    }
                    @media screen and (max-width: breakpoints(sm)){
                        height: 100px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}