.promotional__products {
    margin-bottom: 70px;
    @media screen and (max-width: breakpoints(lg)) {
        margin-bottom: 50px;
    }
    .headings {
        margin-bottom: 40px;
        h2 {
            text-align: center;
            margin-bottom: 10px;
        }
        .short__description {
            text-align: center;
            p {
                font-size: 20px;
            }
        }
    }
    .slider__content {
        position: relative;
        .carpet__background {
            position: absolute;
            bottom: 50%;
            transform: translateY(50px);
            width: 100%;
            height: 180px;
            background-color: $morran-orange;
            z-index: -3;
        }
        #promo__slider {
            .slick-slide {
                padding: 0 30px;
                .p__slide {
                    .product__img {
                        max-width: 400px;
                        margin: 0 auto 40px auto;
                        img {
                            width: 100%;
                        }
                    }
                    .slide__title {
                        text-align: center;
                        margin-bottom: 15px;
                    }
                    .slide__descr {
                        text-align: center;
                        p {
        
                        }
                    }
                }
            }
            .slick-arrow {
                position: absolute;
                bottom: 52%;
                box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.35);
                &.next-button {
                    right: -15px;
                }
                &.prev-button {
                    left: -15px;
                }
            }
        }
    }
}