.promotional__products {
    margin-bottom: 70px;
    @media screen and (max-width: breakpoints(lg)) {
        margin-bottom: 50px;
    }
    .headings {
        margin-bottom: 40px;
        @media screen and (max-width: breakpoints(md)) {
            margin-bottom: 0;
        }
        h2 {
            text-align: center;
            margin-bottom: 10px;
        }
        .short__description {
            text-align: center;
            p {
                font-size: 20px;
                @media screen and (max-width: breakpoints(lg)) {
                    font-size: 17px;
                    line-height: 20px;
                }
            }
        }
    }
    .slider__content {
        #promo__slider {
            .slick-track {
                padding: 40px 0;
            }
            .slick-slide {
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0 8px 12px 0 $gray;
                background-color: $white;
                padding: 30px 15px;
                margin: 0 10px;
                &.slick-center {
                    transform: scale(1.14);
                    background-color: rgba(235, 171, 18, 0.1);
                    box-shadow: 0 15px 20px 0 #C6A27A;
                    margin: 0 40px;
                }
                .p__slide {
                    .product__img {
                        max-width: 300px;
                        margin: 0 auto 40px auto;
                        img {
                            width: 100%;
                        }
                    }
                    .slide__title {
                        text-align: center;
                        margin-bottom: 15px;
                        @media screen and (max-width: breakpoints(lg)) {
                            margin-bottom: 5px;
                        }
                    }
                    .slide__descr {
                        text-align: center;
                        flex-grow: 1;
                        p {
        
                        }
                    }
                }
            }
            .slick-arrow {
                position: absolute;
                bottom: 52%;
                box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.35);
                &.next-button {
                    right: -15px;
                }
                &.prev-button {
                    left: -15px;
                }
            }
        }
    }
}