.textbox__and__img {
    margin-bottom: 70px;
    .ti__title {
        text-align: center;
        margin-bottom: 10px;
    }
    .ti__descr {
        text-align: center;
        p {
            font-size: 20px;
            @media screen and (max-width: breakpoints(lg)) {
                font-size: 17px;
                line-height: 20px;
            }
        }
    }
    .textbox__image__repeater {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        border: 0.5px solid $black;
        margin-top: 40px;
        @media screen and (max-width: 1024px) {
            margin-top: 30px;
        }
        @media screen and (max-width: breakpoints(md)) {
            margin-top: 20px;
        }
        @media screen and (max-width: breakpoints(sm)) {
            border-radius: 10px;
        }
        .service {
            flex-grow: 1;
            flex-basis: calc(50% - 15px);
            display: flex;
            flex-direction: row;
            align-items: stretch;
            &:nth-child(4n),
            &:nth-child(4n + 3) {
                flex-direction: row-reverse;
            }
            @media screen and (max-width: breakpoints(lg)) {
                flex-basis: 100%;
            }
            &.zigzag-odd {
                @media screen and (max-width: breakpoints(lg)) {
                    flex-direction: row;
                }
            }
            &.zigzag-even {
                @media screen and (max-width: breakpoints(lg)) {
                    flex-direction: row-reverse;
                }
            }
            &.zigzag-odd,
            &.zigzag-even {
                @media screen and (max-width: breakpoints(sm)) {
                    flex-direction: column-reverse;
                }
            }
            .textbox__wrapper {
                width: 50%;
                @media screen and (max-width: 1024px) {
                    width: 100%;
                }
                .textbox__content {
                    position: relative;
                    display: block;
                    height: 100%;
                    align-content: center;
                    padding: 25px 16px;
                    .service__title {
                        margin-bottom: 7px;
                    }
                    .service__descr {
                        line-height: 20px;
                    }
                    &.no-link {
                        cursor: auto;
                    }
                    &.with-link::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 25px;
                        font-weight: 700;
                        color: $morran-yellow;
                        background-color: $gray;
                        @include smooth-transition;           
                    }
                    &.with-link:hover {
                        .service__title,
                        .service__descr  {
                            display: none;
                        }
                    }
                    &.with-link:hover::before {
                        content: 'READ MORE';
                        cursor: pointer;
                        height: 100%;
                    }
                }
            }
            .service__image {
                width: 50%;
                display: flex;
                align-items: stretch;
                @media screen and (max-width: 1024px) {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &:first-child {
                .service__image {
                    img {
                        @media screen and (max-width: breakpoints(sm)) {
                            border-radius: 10px 10px 0 0;
                        }
                    }
                }
            }
        }
    }
}