.two__columns {
    .dtc__title {
        text-align: center;
        margin-bottom: 10px;
    }
    .dtc__description {
        p {
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            @media screen and (max-width: breakpoints(lg)) {
                font-size: 17px;
                line-height: 20px;
            }
        }
    }
    .columns__wrapper {
        position: relative;
        background-color: rgba($black, 0.04);
        padding-bottom: 100px;
        margin-bottom: 180px;
        .columns__content {
            margin: 40px 0 70px 0;
            padding-top: 40px;
            @media screen and (max-width: breakpoints(lg)) {
                flex-direction: column;
            }
            .first__column {
                flex-basis: calc(40% - 20px);
                h3 {
                    margin-bottom: 10px;
                }
                .descr {
                    p {
    
                    }
                }
                .column__repeater {
                    margin-top: 30px;
                    @media screen and (max-width: breakpoints(lg)) {
                        margin-top: 20px;
                    }
                    .col-item {
                        justify-content: start;
                        flex-wrap: nowrap;
                        gap: 10px;
                        margin-bottom: 20px;
                        i {
                            align-self: center;
                            color: $white;
                            background-color: $morran-yellow;
                            border-radius: 50%;
                            padding: 10px;
                        }
                        .col-content {
                            .col-title {
                                font-weight: 700;
                                margin-bottom: 5px;
                                @media screen and (max-width: breakpoints(xl)) {
                                    line-height: 17px;
                                    margin-bottom: 0;
                                }
                            }
                            .text {
    
                            }
                            a {
    
                            }
                        }
                    }
                }
            }
            .second__column {
                flex-basis: calc(50% - 20px);
                iframe {
                    position: absolute;
                    bottom: -25%;
                    left: 10%;
                    width: 80%;
                    height: 300px;
                    @media screen and (max-width: breakpoints(lg)) {
                        bottom: -17%;
                        left: 3%;
                        width: 95%;
                    }
                }
            }
        }
    }
}