.zig__zag__img__txt {
    margin-bottom: 70px;
    @media screen and (max-width: breakpoints(lg)) {
        margin-bottom: 50px;
    }
    @media screen and (max-width: breakpoints(sm)) {
        padding: 0 15px;
    }
    .zig__zag__title {
        text-align: center;
        margin-bottom: 40px;
        @media screen and (max-width: breakpoints(lg)) {
            margin-bottom: 20px;
        }
    }
    .block {
        position: relative;
        justify-content: flex-start;
        gap: 35px;
        margin-bottom: 50px;
        &.right {
            flex-direction: row-reverse;
            .block__title,
            .block__description {
                text-align: right;
            }
        }
        .block__img {
            flex-basis: calc(45% - 20px);
            height: 400px;
            @media screen and (max-width: breakpoints(sm)) {
                flex-basis: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .block__content {
            flex-basis: calc(50% - 20px);
            align-content: center;
            @media screen and (max-width: breakpoints(sm)) {
                position: absolute;
            }
            .block__title {
                font-size: 28px;
                line-height: 30px;
                margin-bottom: 20px;
                @media screen and (max-width: breakpoints(lg)) {
                    font-size: 25px;
                    line-height: 27px;
                }
                @media screen and (max-width: breakpoints(md)) {
                    margin-bottom: 10px;
                }
            }
            .block__description {
                p {
                    font-weight: 300;
                }
            }
        }
    }
}