.single__product {
    margin: 250px 0 70px 0;
    @media screen and (max-width: breakpoints(lg)) {
        margin: 120px 0 50px 0;
    }
    .poduct__wrapper {
        flex-wrap: nowrap;
        gap: 10px;
        margin-bottom: 100px;
        @media screen and (max-width: breakpoints(lg)) {
            flex-direction: column;
        }
        .product__images {
            width: 50%;
            @media screen and (max-width: breakpoints(lg)) {
                width: 100%;
            }
            .product__main__image {
                display: block;
                height: 500px;
                margin-bottom: 30px;
                @media screen and (max-width: 575px) {
                    height: 280px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    box-shadow: 0px 22px 20px 0px rgba(0, 0, 0, 0.3);
                    @media screen and (max-width: breakpoints(lg)) {
                        margin-bottom: 30px;
                    }
                }
            }
            .product__gallery {
                justify-content: left;
                gap: 10px;
                .slick-list {
                    .slick-track {
                        margin: 0 auto 0 0;
                        .slick-slide {
                            flex-basis: calc(15% - 10px);
                            cursor: pointer;
                            margin-right: 5px;
                            &:last-child {
                                margin-right: 0;
                            }
                            .gallery__item {
                                height: 85px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .product__content {
            width: 45%;
            @media screen and (max-width: breakpoints(lg)) {
                width: 100%;
                margin-top: 30px;
            }
            .product__title {
                margin-bottom: 20px;
                @media screen and (max-width: breakpoints(md)) {
                    margin-bottom: 10px;
                }
            }
            .product__descr {
                margin-bottom: 35px;
            }
            .price {
                margin-bottom: 15px;
                p {
                    font-size: 18px;
                    font-weight: 600;
                    color: $morran-yellow;
                }
            }
            .product_color,
            .product_size {
                margin-bottom: 15px;
                p {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
            .quantity-wrapper {
                display: flex;
                margin-bottom: 30px;
                .minus,
                .plus {
                    height: 20%;
                    font-size: 20px;
                    background-color: $black;
                    color: $white;
                    border: none;
                }
                .quantity {
                    .qty {
                        width: 40px;
                        height: 60%;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                        color: $black;
                        background-color: $morran-yellow;
                        border: none;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    .related__products__wrapper {
        .related {
            h2 {
                text-align: center;
                margin-bottom: 40px;
                @media screen and (max-width: breakpoints(lg)) {
                    margin-bottom: 20px;
                }
            }
            ul.products {
                display: flex;
                justify-content: center;
                gap: 20px;
                @media screen and (max-width: breakpoints(lg)) {
                    flex-wrap: wrap;
                    gap: 10px;
                }
                @media screen and (max-width: breakpoints(sm)) {
                    flex-direction: column;
                }
                li.product {
                    width: 33%;
                    margin: 0;
                    @media screen and (max-width: breakpoints(lg)) {
                        width: calc(50% - 10px);
                        margin-bottom: 30px;
                    }
                    @media screen and (max-width: breakpoints(sm)) {
                        width: 100%;
                    }
                    a {
                        img {
                            height: 300px;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                        .woocommerce-loop-product__title {
                            font-size: 20px;
                            line-height: 24px;
                            text-align: left;
                        }
                        .price {
                            .woocommerce-Price-amount {
                                .bdi {
                                    color: $morran-yellow !important;
                                }
                            }
                        }
                    }
                    .add_to_cart_button,
                    a.button.product_type_simple {
                        text-transform: uppercase;
                        color: $black;
                        background-color: $morran-yellow;
                        @include smooth-transition;
                        &:hover {
                            color: $white;
                            background-color: $black;
                        }
                    }
                }
            }
        }
    }
}