footer {
    padding: 35px 0 20px 0;
    background-color: $black;
    @media screen and (max-width: breakpoints(lg)) {
        padding: 20px 0;
    }
    .footer__first__part {
        align-items: start;
        flex-wrap: nowrap;
        gap: 15px;
        padding: 0 0 20px 0;
        @media screen and (max-width: breakpoints(lg)) {
            flex-direction: column;
            gap: 15px;
            padding: 0 0 15px 0;
        }
        .footer__logo {
            display: block;
            max-width: 150px;
            @media screen and (max-width: breakpoints(xl)) {
                max-width: 130px;
            }
        }
        .footer__main__links {
            padding: 0 15px 0 0;
            .footer_main_link {
                margin-bottom: 10px;
                @media screen and (max-width: breakpoints(lg)) {
                    margin-bottom: 5px;
                }
                a {
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 400;
                    color: $white;
                    @media screen and (max-width: breakpoints(lg)) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
        .categories__column {
            padding: 0 15px 0 0;
            .categories__title {
                font-size: 20px;
                line-height: 22px;
                font-weight: 600;
                color: $morran-yellow;
                margin-bottom: 15px;
                @media screen and (max-width: breakpoints(lg)) {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
            }
            .categories {
                .category__link {
                    margin-bottom: 10px;
                    @media screen and (max-width: breakpoints(lg)) {
                        margin-bottom: 5px;
                    }
                    a {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: 400;
                        color: $white;
                        @media screen and (max-width: breakpoints(lg)) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        .contacts__column {
            padding: 0 15px 0 0;
            .contacts__title {
                font-size: 20px;
                line-height: 22px;
                font-weight: 600;
                color: $morran-yellow;
                margin-bottom: 15px;
                @media screen and (max-width: breakpoints(lg)) {
                    font-size: 18px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
            }
            .contact__links {
                .email__field,
                .telephone__field,
                .address__field {
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 400;
                    color: $white;
                    margin-bottom: 10px;
                    @media screen and (max-width: breakpoints(lg)) {
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 5px;
                    }
                    a {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: 400;
                        color: $white;
                        @media screen and (max-width: breakpoints(lg)) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        .social__links {
            padding: 0 15px 0 0;
            .social__links__text {
                font-size: 20px;
                line-height: 22px;
                font-weight: 600;
                color: $morran-yellow;
                margin-bottom: 15px;
                @media screen and (max-width: breakpoints(lg)) {
                    margin-bottom: 10px;
                }
            }
            .soc__links {
                display: flex;
                gap: 15px;
                @media screen and (max-width: breakpoints(lg)) {
                    gap: 10px;
                }
                .social__media__link {
                    font-size: 20px;
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
    .footer__privacy__texts {
        text-align: center;
        border-top: 1px solid $white;
        padding: 20px 0 0 0;
        @media screen and (max-width: breakpoints(lg)) {
            padding: 15px 0 0 0;
        }
        span {
            color: $white;
        }
        .privacy__texts {
            margin-bottom: 10px;
            @media screen and (max-width: breakpoints(lg)) {
                margin-bottom: 5px;
            }
            .privacy__policy,
            .terms__and__conditions {
                font-size: 14px;
                line-height: 16px;
                color: $white;
            }
        }
        .rights__reserved__text {
            font-size: 14px;
            line-height: 16px;
            color: $white;
        }
    }
}