.header__first__part {
    align-items: center;
    border-bottom: 1px solid $white;
    padding: 15px 0;
    @media screen and (max-width: breakpoints(lg)) {
        border: none;
    }
    .languages {
        width: calc(20% - 20px);
        @media screen and (max-width: breakpoints(lg)) {
            display: none;
        }
        .lang__wrapper {
            position: relative;
            display: inline;
            .current_language {
                display: inline-block;
                cursor: pointer;
                font-weight: 600;
                border-radius: 5px;
                color: $white;
                background-color: $black;
                padding: 10px;
                @include smooth-transition;
            }
            .lang__dropdown {
                position: absolute;
                top: 31px;
                border-radius: 5px;
                background-color: $black;
                li {
                    padding: 10px 13px;
                    @include smooth-transition;
                    a {
                        font-weight: 600;
                        color: $white;
                        border-bottom: 1px solid $white;
                        @include smooth-transition;
                    }
                    &:hover {
                        background-color: $white;
                        a {
                            color: $black;
                            border-color: $black;
                        }
                    }
                }
            }
            &:hover {
                .current_language {
                    color: $black;
                    background-color: $morran-yellow;
                }
            }
        }
    }
    .header__logo {
        max-width: 200px;
        border-radius: 3px;
        @media screen and (max-width: breakpoints(lg)) {
            max-width: 130px;
        }
    }
    .search__favourites__cart {
        width: calc(50% - 10px);
        justify-content: end;
        flex-wrap: nowrap;
        gap: 20px;
        @media screen and (max-width: breakpoints(lg)) {
            width: calc(55% - 10px);
            gap: 10px;
        }
        .dots__menu {
            display: none;
            align-self: center;
            cursor: pointer;
            @media screen and (max-width: breakpoints(lg)) {
                display: block;
            }
            .dot {
                width: 3px;
                height: 3px;
                border: 1px solid $white;
                border-radius: 50%;
                margin: 2px;
            }
        }
        @media screen and (max-width: 991px) {
            .desktop-searchbar {
                display: none;
            }
        }
        .cart {
            align-self: center;
            color: $white;
            gap: 5px;
        }
    }
}