header {
    position: relative;
    top: 0;
    box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
    transition: all 0.3s ease-in-out;
    &.sticky__header {
        position: sticky;
    }
    .header__wrapper {
        background-color: $black;
        padding: 15px 0;
        @media screen and (max-width: 991px) {
            border-bottom: 1px solid $white;
        }
        .header__logo {
            align-self: center;
            max-width: 120px;
            border-radius: 3px;
            @media screen and (max-width: breakpoints(lg)) {
                max-width: 90px;
            }
        }
        .search__favourites__cart {
            width: calc(15% - 10px);
            justify-content: end;
            flex-wrap: nowrap;
            gap: 20px;
            @media screen and (max-width: breakpoints(lg)) {
                width: calc(55% - 10px);
                gap: 10px;
            }
            .dots__menu {
                display: none;
                align-self: center;
                cursor: pointer;
                @media screen and (max-width: breakpoints(lg)) {
                    display: block;
                }
                .dot {
                    width: 3px;
                    height: 3px;
                    border: 1px solid $white;
                    border-radius: 50%;
                    margin: 2px;
                }
            }
            @media screen and (max-width: 991px) {
                .desktop-searchbar {
                    display: none;
                }
            }
            .desktop-searchbar {
                align-self: center;
            }
            .cart {
                align-self: center;
                color: $white;
                gap: 5px;
            }
        }
    }
}
.mobile__header {
    .header__links {
        display: none;
    }
}