.header__first__part {
    align-items: center;
    border-bottom: 1px solid $white;
    padding: 15px 0;
    @media screen and (max-width: breakpoints(lg)) {
        border: none;
    }
    .languages {
        width: calc(20% - 20px);
        @media screen and (max-width: breakpoints(lg)) {
            display: none;
        }
        .lang__wrapper {
            position: relative;
            display: inline;
            .current_language {
                display: inline-block;
                cursor: pointer;
                font-weight: 600;
                color: $white;
                background-color: $black;
                padding: 10px;
                @include smooth-transition;
            }
            .lang__dropdown {
                position: absolute;
                top: 31px;
                background-color: $black;
                li {
                    padding: 10px 13px;
                    @include smooth-transition;
                    a {
                        font-weight: 600;
                        color: $white;
                        border-bottom: 1px solid $white;
                        @include smooth-transition;
                    }
                    &:hover {
                        background-color: $white;
                        a {
                            color: $black;
                            border-color: $black;
                        }
                    }
                }
            }
            &:hover {
                .current_language {
                    color: $black;
                    background-color: $morran-yellow;
                }
            }
        }
    }
}