.header__links {
    justify-content: center;
    gap: 30px;
    border-top: 1px solid $black;
    padding: 30px 0;
    @media screen and (max-width: breakpoints(lg)) {
      display: none;
    }
    .languages {
      display: none;
      position: absolute;
      margin-top: 10px;
    }
    .main__link {
        .main-menu-link {
            font-size: 22px;
            line-height: 27px;
            font-weight: 600;
            color: $white;
            border-radius: 3px;
            padding: 10px 20px;
            @include smooth-transition;
            i {
              font-size: 15px;
              color: $white;
              margin-left: 5px;
              @include smooth-transition;
            }
        }
        &.hovered-main-link {
          .main-menu-link {
            color: $morran-yellow;
            background-color: $white;
            i {
              transform: rotate(-180deg);
              color: $morran-yellow;
            }
          }
        }
        .sublinks {
            position: absolute;
            left: 13%;
            transform: translate(100px, 30px);
            width: 60%;
            height: auto;
            flex-direction: column;
            background-color: $white;
            border-radius: 0 0 5px 5px;
            border-top: 1px solid $black;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.20);
            padding: 40px 70px;
            z-index: 999;
            .link {
               margin-bottom: 20px; 
               .sublink {
                position: relative;
                font-size: 22px;
                line-height: 27px;
                font-weight: 600;
                @include smooth-transition;
                &:before {
                  content: "";
                  position: absolute;
                  bottom: -3px;
                  width: 0;
                  height: 2px;
                  background-color: $morran-yellow;
                  @include smooth-transition;
                }
                &:hover:before {
                  width: 100%;
                }
              }
            }
            .image__sublink {
                position: absolute;
                right: 50px;
                top: 20px;
                height: 200px;
              .image__title {
                font-weight: 500;
                text-align: center;
                margin-bottom: 15px;
              }
              .img_for_sublink {
                width: 350px;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
              }
            }
        }
    }
}